---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/charliecorrigan/events?access_token=<GITHUB_TOKEN&page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1499534669'
      Etag:
      - W/"101e70da7ca4e11f3749f5b5ebd08888"
      Last-Modified:
      - Sat, 08 Jul 2017 14:46:04 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/20289631/events?access_token=<GITHUB_TOKEN&page=2&per_page=10>;
        rel="next", <https://api.github.com/user/20289631/events?access_token=<GITHUB_TOKEN&page=30&per_page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"6217408010","type":"PushEvent","actor":{"id":20289631,"login":"charliecorrigan","display_login":"charliecorrigan","gravatar_id":"","url":"https://api.github.com/users/charliecorrigan","avatar_url":"https://avatars.githubusercontent.com/u/20289631?"},"repo":{"id":96478355,"name":"charliecorrigan/apicurious","url":"https://api.github.com/repos/charliecorrigan/apicurious"},"payload":{"push_id":1847493123,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"754a5921de4ee927b1bc56f3f291d55469656ac6","before":"f34ae27a1d3e9e512550b91a4a4ae73fc679dd3e","commits":[{"sha":"754a5921de4ee927b1bc56f3f291d55469656ac6","author":{"email":"charlie.ps.corrigan@gmail.com","name":"ccorrigan"},"message":"update
        gitignore","distinct":true,"url":"https://api.github.com/repos/charliecorrigan/apicurious/commits/754a5921de4ee927b1bc56f3f291d55469656ac6"}]},"public":true,"created_at":"2017-07-08T14:46:04Z"},{"id":"6217406437","type":"PushEvent","actor":{"id":20289631,"login":"charliecorrigan","display_login":"charliecorrigan","gravatar_id":"","url":"https://api.github.com/users/charliecorrigan","avatar_url":"https://avatars.githubusercontent.com/u/20289631?"},"repo":{"id":96478355,"name":"charliecorrigan/apicurious","url":"https://api.github.com/repos/charliecorrigan/apicurious"},"payload":{"push_id":1847492587,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"f34[...]
