---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/charliecorrigan/orgs?access_token=<GITHUB_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1499610015'
      Etag:
      - W/"5b88bf32b0b46e5faa634cf55f9eb0e3"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"turing1703be","id":30009063,"url":"https://api.github.com/orgs/turing1703be","repos_url":"https://api.github.com/orgs/turing1703be/repos","events_url":"https://api.github.com/orgs/turing1703be/events","hooks_url":"https://api.github.com/orgs/turing1703be/hooks","issues_url":"https://api.github.com/orgs/turing1703be/issues","members_url":"https://api.github.com/orgs/turing1703be/members{/member}","public_members_url":"https://api.github.com/orgs/turing1703be/public_members{/member}","avatar_url":"https://avatars1.githubusercontent.com/u/30009063?v=3","description":"A
        fake organization to test the orgs endpoint on the github api"}]'
  recorded_at: Sun, 09 Jul 2017 14:07:35 GMT
recorded_with: VCR 3.0.3
