---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/charliecorrigan/events?access_token=<GITHUB_TOKEN&page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1499610015'
      Etag:
      - W/"d0bc2c3104dd72beabfaa7d7cb8085ac"
      Last-Modified:
      - Sun, 09 Jul 2017 13:57:20 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/20289631/events?access_token=<GITHUB_TOKEN&page=2&per_page=10>;
        rel="next", <https://api.github.com/user/20289631/events?access_token=<GITHUB_TOKEN&page=30&per_page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"6219458501","type":"PushEvent","actor":{"id":20289631,"login":"charliecorrigan","display_login":"charliecorrigan","gravatar_id":"","url":"https://api.github.com/users/charliecorrigan","avatar_url":"https://avatars.githubusercontent.com/u/20289631?"},"repo":{"id":96478355,"name":"charliecorrigan/apicurious","url":"https://api.github.com/repos/charliecorrigan/apicurious"},"payload":{"push_id":1848261813,"size":1,"distinct_size":1,"ref":"refs/heads/orgs","head":"4697e26cf398b3a846ac87013d563031972859ab","before":"5a2b0fafdd6d4ae2e7a8238a84a80da86ad1d1ae","commits":[{"sha":"4697e26cf398b3a846ac87013d563031972859ab","author":{"email":"charlie.ps.corrigan@gmail.com","name":"ccorrigan"},"message":"Create
        model test for organization","distinct":true,"url":"https://api.github.com/repos/charliecorrigan/apicurious/commits/4697e26cf398b3a846ac87013d563031972859ab"}]},"public":true,"created_at":"2017-07-09T13:57:20Z"},{"id":"6219450248","type":"CreateEvent","actor":{"id":20289631,"login":"charliecorrigan","display_login":"charliecorrigan","gravatar_id":"","url":"https://api.github.com/users/charliecorrigan","avatar_url":"https://avatars.githubusercontent.com/u/20289631?"},"repo":{"id":96478355,"name":"charliecorrigan/apicurious","url":"https://api.github.com/repos/charliecorrigan/apicurious"},"payload":{"ref":"orgs","ref_type":"branch","master_branch":"master","description":null,"pusher_type":"user"},"public":true,"created_at":"2017-07-09T13:52:29Z"},{"id":"6219413668","type":"PushEvent","actor":{"id":20289631,"login":"charliecorrigan","display_login":"charliecorrigan","gravatar_id":"","url":"https://api.github.com/users/charliecorrigan","avatar_url":"https://avatars.githubusercontent.com/u/20289631?"},"repo":{"id":96478355,"name":"charliecorrigan/apicurious","url":"https://api.github.com/repos/charliecorrigan/apicurious"},"payload":{"push_id":1848244560,"size":9,"distinct_size":1,"r[...]
