---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/charliecorrigan/events?access_token=<GITHUB_TOKEN&page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1499547842'
      Etag:
      - W/"489c37d2cae28110fb95f11f0f7506c8"
      Last-Modified:
      - Sat, 08 Jul 2017 17:18:16 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/20289631/events?access_token=<GITHUB_TOKEN&page=2&per_page=10>;
        rel="next", <https://api.github.com/user/20289631/events?access_token=<GITHUB_TOKEN&page=30&per_page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"6217684500","type":"IssuesEvent","actor":{"id":20289631,"login":"charliecorrigan","display_login":"charliecorrigan","gravatar_id":"","url":"https://api.github.com/users/charliecorrigan","avatar_url":"https://avatars.githubusercontent.com/u/20289631?"},"repo":{"id":96478355,"name":"charliecorrigan/apicurious","url":"https://api.github.com/repos/charliecorrigan/apicurious"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/charliecorrigan/apicurious/issues/27","repository_url":"https://api.github.com/repos/charliecorrigan/apicurious","labels_url":"https://api.github.com/repos/charliecorrigan/apicurious/issues/27/labels{/name}","comments_url":"https://api.github.com/repos/charliecorrigan/apicurious/issues/27/comments","events_url":"https://api.github.com/repos/charliecorrigan/apicurious/issues/27/events","html_url":"https://github.com/charliecorrigan/apicurious/issues/27","id":241467060,"number":27,"title":"refactor
        github service urls","user":{"login":"charliecorrigan","id":20289631,"avatar_url":"https://avatars2.githubusercontent.com/u/20289631?v=3","gravatar_id":"","url":"https://api.github.com/users/charliecorrigan","html_url":"https://github.com/charliecorrigan","followers_url":"https://api.github.com/users/charliecorrigan/followers","following_url":"https://api.github.com/users/charliecorrigan/following{/other_user}","gists_url":"https://api.github.com/users/charliecorrigan/gists{/gist_id}","starred_url":"https://api.github.com/users/charliecorrigan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/charliecorrigan/subscriptions","organizations_url":"https://api.github.com/users/charliecorrigan/orgs","repos_url":"https://api.github.com/users/charliecorrigan/repos","events_url":"https://api.github.com/users/charliecorrigan/events{/privacy}","received_events_url":"https://api.github.com/users/charliecorrigan/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-07-08T17:18:16Z","updated_at":"2017-07-08T17:18:16Z","closed_at":null,"body":null}},"public":true,"created_at":"2017-07-08T17:18:16Z"},{"id":"6217670476","type":"PushEvent","actor":{"id":20289631,"login":"charliecorrigan","display_login":"charliecorrigan","gravatar_id":"","url":"https://api.github.com/users/charliecorrigan","avatar_url":"https://avatars.githubusercontent.com/u/20289631?"},"repo":{"id":96478355,"name":"charliecorrigan/apicurious","url":"https://api.github.com/repos/charliecorrigan/apicurious"},"payload":{"push_id":1847589994,"size":5,"distinct_size":1,"ref":"refs/heads/master","head":"60afa65ca1c3d367fc95fa969d5b2f10ed621af1","before":"754a5921de4ee927b1bc56f3f291d55469656ac6","commits":[{"sha":"fe479c6bf17abe4211546e90bdf4feef3e2833cd","author":{"email":"charlie.ps.corrigan@gmail.com","name":"ccorrigan"},"message":"Create
        #fetch_recent_activity and #populate_recent_activity","distinct":false,"url":"https://api.github.com/repos/charliecorrigan/apicurious/commits/fe479c6bf17abe4211546e90bdf4feef3e2833cd"},{"sha":"c1be04f8f414c8d4451abb6816fc9ff09c75a8d3","author":{"email":"charlie.ps.corrigan@gmail.com","name":"ccorrigan"},"message":"Create
        RecentEvent model test","distinct":false,"url":"https://api.github.com/repos/charliecorrigan/apicurious/commits/c1be04f8f414c8d4451abb6816fc9ff09c75a8d3"},{"sha":"fa36c9bda14fffc6062858710a029457585edd76","author":{"email":"charlie.ps[...]
