---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1499481955'
      Etag:
      - W/"599e4568480aa3a3e4b5a1753e1793e3"
      Last-Modified:
      - Fri, 07 Jul 2017 14:12:02 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"charliecorrigan","id":20289631,"avatar_url":"https://avatars2.githubusercontent.com/u/20289631?v=3","gravatar_id":"","url":"https://api.github.com/users/charliecorrigan","html_url":"https://github.com/charliecorrigan","followers_url":"https://api.github.com/users/charliecorrigan/followers","following_url":"https://api.github.com/users/charliecorrigan/following{/other_user}","gists_url":"https://api.github.com/users/charliecorrigan/gists{/gist_id}","starred_url":"https://api.github.com/users/charliecorrigan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/charliecorrigan/subscriptions","organizations_url":"https://api.github.com/users/charliecorrigan/orgs","repos_url":"https://api.github.com/users/charliecorrigan/repos","events_url":"https://api.github.com/users/charliecorrigan/events{/privacy}","received_events_url":"https://api.github.com/users/charliecorrigan/received_events","type":"User","site_admin":false,"name":"Charlie
        PS Corrigan","company":null,"blog":"www.charliepscorrigan.com","location":"Denver,
        Colorado","email":"charlie.ps.corrigan@gmail.com","hireable":true,"bio":"Back-end
        engineering student at Turing School\r\nFind me on...\r\nTwitter: @cpscorrigan\r\nLinkedIn:
        linkedin.com/in/charliepscorrigan/\r\n","public_repos":40,"public_gists":3,"followers":2,"following":3,"created_at":"2016-07-04T23:10:17Z","updated_at":"2017-07-07T14:12:02Z","private_gists":21,"total_private_repos":0,"owned_private_repos":0,"disk_usage":7584,"collaborators":0,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Sat, 08 Jul 2017 01:55:27 GMT
- request:
    method: get
    uri: https://api.github.com/users/charliecorrigan/followers?access_token=<GITHUB_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1499481955'
      Etag:
      - W/"4783[...]
- request:
    method: get
    uri: https://api.github.com/users/charliecorrigan/following?access_token=<GITHUB_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1499481955'
      Etag:
      - W/"e983[...]
