<% if current_user %>
  <div class="activity-feed">
    <% @user.followed_recent_events.each do |event|  %>
      <div class="recent-activity">
        <p class="recent-activity-type"><%= event.event_type %></p>
        <p class="recent-activity-repo"><%= event.repo %></p>
        <p class="recent-activity-created-at"><%= event.created_at %></p>
      </div>
    <% end %>
  </div>
<% end %>